<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Daos.boardDao">
	<insert id="insert" parameterType="com.kim.demo4.board.boardDto">
		insert into board values(boardid.NEXTVAL,#{title},#{text},#{email},#{created},#{hit})
	</insert>
	<resultMap type="com.kim.demo4.board.boardDto" id="board">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="text" column="text"/>
		<result property="email" column="writer"/>
		<result property="created" column="created"/>
		<result property="hit" column="hit"/>
	</resultMap>
	<select id="selectAll" resultMap="board" >
		select * from board 
	</select>
</mapper>